body {
    margin: 20px;
    background-color: white;
    color: black ;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
}

h1 {
    color: red;
    font-size: 30px;
}

p {
    font-size: 20px;
}
