body {
    margin: 20px;
    background-color: black;
    color: white ;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
}

h1 {
    color: green;
    font-size: 30px;
}

p {
    font-size: 20px;
}
